apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: project
  name: todo-app-dep
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
      - name: todo-app-data
        persistentVolumeClaim:
          claimName: todo-app-claim
      containers:
        - name: todo-app
          image: PROJECT/TODO_APP_IMAGE
          readinessProbe:
            initialDelaySeconds: 10 
            periodSeconds: 5 
            httpGet:
               path: /healthz
               port: 8000
          livenessProbe:
            initialDelaySeconds: 20
            periodSeconds: 5 
            httpGet:
               path: /healthz
               port: 8000
          resources:
            requests:
              memory: "16Mi"
              cpu: "50m"
            limits:
              memory: "192Mi"
              cpu: "150m"
          volumeMounts:
          - name: todo-app-data
            mountPath: /app/data
          envFrom:
          - configMapRef:
              name: todo-app-config
      