apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      volumes:
        - name: shared-data
          emptyDir: {}
      containers:
        - name: data-writer
          image: anttihanki/log-output-writer:0.1.0
          volumeMounts:
          - name: shared-data
            mountPath: /files
        - name: data-reader
          image: anttihanki/log-output-reader:0.1.1
          volumeMounts:
          - name: shared-data
            mountPath: /files
          env:
            - name: PORT
              value: "8020" 
