apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: exercises
  name: ping-pong-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
        - name: ping-pong
          image: anttihanki/ping-pong:0.2.4
          readinessProbe:
           initialDelaySeconds: 10
           periodSeconds: 5
           httpGet:
            path: /healthz
            port: 8030
          env:
          - name: PORT
            value: "8030"
          envFrom:
          - secretRef:
              name: pingpong-db-secret
          - configMapRef:
              name: pingpong-config
          

