apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  namespace: exercises
  name: ping-pong-dep
spec:
  replicas: 4
  selector:
    matchLabels:
      app: ping-pong
  strategy:
    canary:
      analysis:
        templates:
        - templateName: pingpong-restart-rate
      steps:
      - setWeight: 25
      - pause:
          duration: 30s
      - setWeight: 50
      - pause:
          duration: 30s
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
        - name: ping-pong
          image: anttihanki/ping-pong:0.2.5
          readinessProbe:
           initialDelaySeconds: 10
           periodSeconds: 5
           httpGet:
            path: /healthz
            port: 8030
          env:
          - name: PORT
            value: "8030"
          envFrom:
          - secretRef:
              name: pingpong-db-secret
          - configMapRef:
              name: pingpong-config
          

