apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      volumes:
        - name: shared-data
          persistentVolumeClaim:
            claimName: log-output-claim
      containers:
        - name: ping-pong
          image: anttihanki/ping-pong:0.1.2
          volumeMounts:
          - name: shared-data
            mountPath: /files
          env:
            - name: PORT
              value: "8030" 