apiVersion: v1
kind: Secret
metadata:
  name: pingpong-db-secret
data:
  POSTGRES_USER: <yourpostgresuser> # Here your postgres user in base64 format
  POSTGRES_PASSWORD: <yourpostgrespassword> # Here your postgres password in base64 format
